# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build

# dist
/dist

# DB Migrations
/src/migrations

# config
/config/config.js

# misc
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*